</br>
</br>

<h1  class="fonty" align="center" >تعديل السؤال</h1>

<%= render 'form' %>


<br>
<br>
<p class="fonty floatR" >

<%= link_to 'عرض', @question %> |
<%= link_to 'الرجوع', questions_path %>
</p>