
<br>
<br>
<br>
<h1 class="fonty" align="center">تعديل بيانات المتقدم</h1>

<%= render 'form' %>






<br>
<br>
<p class="fonty floatR" >
<%= link_to 'عرض', @applicant %> |
<%= link_to 'رجوع', applicants_path %>


</p>