<br>
<br>
<br>
<h1 class="fonty" align="center">تعديل بيانات المؤسسة</h1>
<%= render 'form' %>



<br>
<br>
<p class="fonty floatR" >
<%= link_to 'عرض', @company %> |
<%= link_to 'رجوع', companies_path %>
</p>